In [4]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [3]:
#!pip install statsmodels

Requirement already satisfied: statsmodels in c:\users\koh99\anaconda3\lib\site-packages (0.10.1)
Requirement already satisfied: numpy>=1.11 in c:\users\koh99\anaconda3\lib\site-packages (from statsmodels) (1.16.5)
Requirement already satisfied: scipy>=0.18 in c:\users\koh99\anaconda3\lib\site-packages (from statsmodels) (1.4.1)
Requirement already satisfied: pandas>=0.19 in c:\users\koh99\anaconda3\lib\site-packages (from statsmodels) (0.25.1)
Requirement already satisfied: patsy>=0.4.0 in c:\users\koh99\anaconda3\lib\site-packages (from statsmodels) (0.5.1)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\koh99\anaconda3\lib\site-packages (from pandas>=0.19->statsmodels) (2.8.0)
Requirement already satisfied: pytz>=2017.2 in c:\users\koh99\anaconda3\lib\site-packages (from pandas>=0.19->statsmodels) (2019.3)
Requirement already satisfied: six in c:\users\koh99\anaconda3\lib\site-packages (from patsy>=0.4.0->statsmodels) (1.12.0)

In [5]:
df=pd.read_csv('train_eda_fin.csv')
df.head()

,train_id,name,item_condition_id,brand_name,price,shipping,item_description,category_1,category_2,category_3,log_price
0,1,Razer BlackWidow Chroma Keyboard,3,Razer,52.0,0,This keyboard is in great condition and works ...,Electronics,Computers & Tablets,Components & Parts,3.951244
1,2,AVA-VIV Blouse,1,Target,10.0,1,Adorable top with a hint of lace and a key hol...,Women,Tops & Blouses,Blouse,2.302585
2,6,Acacia pacific tides santorini top,3,Acacia Swimwear,64.0,0,Size small but straps slightly shortened to fi...,Women,Swimwear,Two-Piece,4.158883
3,7,Girls cheer and tumbling bundle of 7,3,Soffe,6.0,1,You get three pairs of Sophie cheer shorts siz...,Sports & Outdoors,Apparel,Girls,1.791759
4,8,Girls Nike Pro shorts,3,Nike,19.0,0,Girls Size small Plus green. Three shorts total.,Sports & Outdoors,Apparel,Girls,2.944439

In [8]:
model=smf.mixedlm('log_price~item_condition_id',df,groups=df['category_1'])

In [15]:
mdf=model.fit()
print(mdf.summary())

            Mixed Linear Model Regression Results
=============================================================
Model:             MixedLM  Dependent Variable:  log_price
No. Observations:  618128   Method:              REML
No. Groups:        10       Scale:               0.5869
Min. group size:   54       Likelihood:          -712433.7105
Max. group size:   331070   Converged:           Yes
Mean group size:   61812.8
-------------------------------------------------------------
                  Coef.  Std.Err.    z    P>|z| [0.025 0.975]
-------------------------------------------------------------
Intercept          3.179    0.099  31.994 0.000  2.984  3.373
item_condition_id -0.102    0.001 -90.232 0.000 -0.104 -0.100
Group Var          0.098    0.091
=============================================================

In [18]:
#model_cate=smf.mixedlm('category_2~item_condition_id',df,groups=df['category_1'])

In [17]:
#mdf_cate=model_cate.fit()
#print(mdf_cate.summary)

In [ ]:
smf.mixedlm

In [6]:
# test

data=sm.datasets.get_rdataset('dietox','geepack').data
data.head()

C:\Users\koh99\Anaconda3\lib\site-packages\statsmodels\datasets\utils.py:192: FutureWarning: `item` has been deprecated and will be removed in a future version
  return dataset_meta["Title"].item()

    Pig     Evit     Cu  Litter  Start    Weight       Feed  Time
0  4601  Evit000  Cu000       1   26.5  26.50000        NaN     1
1  4601  Evit000  Cu000       1   26.5  27.59999   5.200005     2
2  4601  Evit000  Cu000       1   26.5  36.50000  17.600000     3
3  4601  Evit000  Cu000       1   26.5  40.29999  28.500000     4
4  4601  Evit000  Cu000       1   26.5  49.09998  45.200001     5